.jcarousel{
	text-align: center;
}

.jcarousel .box-heading{
	display: inline-block;    
	zoom: 1;
	*display: inline;
	float: none;
	padding:0 34px;
	font-size: 16px;
	background-color: #6f9426;
}
.jcarousel .box-heading:before{	
	border-right: 12px solid transparent;
    border-top: 12px solid #6f9426;
    left: 44%;
    top: 100%;
}

.jcarousel .box-heading:after{	
	border-left: 12px solid transparent;
    border-top: 12px solid #6f9426;
    right: 44%;
    top: 100%;
    display: inline-block;    
	zoom: 1;
	*display: inline;
	width: 0;
	height: 0;
	position: absolute;
	content: "";
}

.jcarousel.is-highlight .box-content{
	position: relative;
}
.jcarousel.is-highlight .box-content:before,
.jcarousel.is-highlight .box-content:after{
	content: "";
	position: absolute;
	bottom: 0;
	display: block;
	border-width: 4px;	
	border-style: solid;	
	width: 5px;
	height: 5px;	
}

.jcarousel.is-highlight .box-content:before{
	left: 0;
	border-color: transparent transparent #6f9426 #6f9426;
}

.jcarousel.is-highlight .box-content:after{
	right: 0;
	border-color: transparent #6f9426 #6f9426 transparent;
}

.jcarousel .box-content{
	text-align: left;
	padding:32px 28px;
}

.jcarousel-skin-opencart .jcarousel-container {
	background: #FFF;
	margin-bottom: 20px;
}
.jcarousel-skin-opencart .jcarousel-direction-rtl {
	direction: rtl;
}
.jcarousel-skin-opencart .jcarousel-container-horizontal {
	padding: 0;
	margin: 0;
}
.jcarousel-skin-opencart .jcarousel-clip {
	overflow: hidden;
	width: 100%;
}
.jcarousel-skin-opencart .jcarousel-clip-horizontal {
}
.jcarousel-skin-opencart .jcarousel-item {
	text-align: center;
}
.jcarousel-skin-opencart .jcarousel-item a,
.jcarousel-skin-opencart .jcarousel-item span
{
	display: block;
	text-transform: uppercase;
	color: #7b7771;
}
.jcarousel-item a:hover{
	color: #78a324;
}
.jcarousel-skin-opencart .jcarousel-item-horizontal {
	margin-left: 0;
	margin-right: 7px;
	text-align: center;
}
.jcarousel-skin-opencart .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 10px;
	margin-right: 0;
}
.jcarousel-skin-opencart .jcarousel-item-placeholder {
	background: #fff;
	color: #000;
}
/**
 *  Horizontal Buttons
 */
.jcarousel-skin-opencart .jcarousel-next-horizontal,
.jcarousel-skin-opencart .jcarousel-prev-horizontal
{
	background-color: #5F4D2F;
	border: 0 none;
	color: transparent;
	font-size: 0;
	font-weight: normal;
	height: 37px;
	line-height: 37px;
	margin: 0;
	opacity: 1;
	padding: 0;
	top: 25%;
	width: 37px;
	position: absolute;
	background-image: url("../image/sprite.png");
	background-repeat: no-repeat;	
	cursor: pointer;

	transition: opacity 0.2s ease-out 0s;
	-webkit-transition: opacity 0.2s ease-out 0s;
	-moz-transition: opacity 0.2s ease-out 0s;
	-ms-transition: opacity 0.2s ease-out 0s;
	-o-transition: opacity 0.2s ease-out 0s;

	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;	
}

.jcarousel .box-content:hover .jcarousel-skin-opencart .jcarousel-next-horizontal,
.jcarousel .box-content:hover .jcarousel-skin-opencart .jcarousel-prev-horizontal{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;	
}

.jcarousel-skin-opencart .jcarousel-next-horizontal:hover,
.jcarousel-skin-opencart .jcarousel-prev-horizontal:hover
{
	background-color: #40331D;	
}

.jcarousel-skin-opencart .jcarousel-item:hover
{
	animation-duration: 1s;
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	-ms-animation-duration: 1s;
	-o-animation-duration: 1s;

    animation-name: bounce;	
    -webkit-animation-name: bounce;	
    -ms-animation-name: bounce;	
    -moz-animation-name: bounce;	
    -o-animation-name: bounce;	
}

.jcarousel-skin-opencart .jcarousel-next-horizontal{
	background-position: -352px -60px;	
	left: -13px;
}

.jcarousel-skin-opencart .jcarousel-prev-horizontal{
	background-position: -430px -60px;
	right: -13px;
}



.jcarousel-skin-opencart .jcarousel-direction-rtl .jcarousel-next-horizontal {
	left: 5px;
	right: auto;
	background: url('../image/button-previous.png') center no-repeat;
}

.jcarousel-skin-opencart .jcarousel-next-disabled-horizontal, .jcarousel-skin-opencart .jcarousel-next-disabled-horizontal:hover, .jcarousel-skin-opencart .jcarousel-next-disabled-horizontal:focus, .jcarousel-skin-opencart .jcarousel-next-disabled-horizontal:active {
	cursor: default;
	background: none;
}
.jcarousel-skin-opencart .jcarousel-direction-rtl .jcarousel-prev-horizontal {
	left: auto;
	right: 0px;
	background: url('../image/button-next.png') center no-repeat;
}
.jcarousel-skin-opencart .jcarousel-prev-disabled-horizontal, .jcarousel-skin-opencart .jcarousel-prev-disabled-horizontal:hover, .jcarousel-skin-opencart .jcarousel-prev-disabled-horizontal:focus, .jcarousel-skin-opencart .jcarousel-prev-disabled-horizontal:active {
	cursor: default;
	background: none;
}
.jcarousel-list{}

.jcarousel-list li.last{
	margin: 0;
}
.jcarousel-list li img{
	border: 3px solid #f2f0ed;

	border-radius: 12px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	-ms-border-radius: 12px;
	-o-border-radius: 12px;		

	transition : border 500ms ease-out; 
	-webkit-transition : border 500ms ease-out; 
	-moz-transition : border 500ms ease-out;
	-o-transition : border 500ms ease-out;    
}
.jcarousel-list li img:hover
{
	border-color: #6f9426;
}