#pav-paneltool {
	position: fixed;
	top: 10%;
	left: 0;
	z-index: 999;
	outline: none;
}
#pav-paneltool h4{
	font-size: 15px;
}
#pav-paneltool form p .btn {
	font-size: 14px;
	outline: 0;
}
#pav-paneltool form select {
	width: 120px;
	margin:0;
}
#pav-paneltool form .group-input {
	margin: 10px 0;
}
#pav-paneltool .pn-action {
	background: none repeat scroll 0 0 #FFFFFF;
	-moz-box-shadow: 3px 0 3px rgba(136, 136, 136, 0.3);
	-webkit-box-shadow: 3px 0 3px rgba(136, 136, 136, 0.3);
	-ms-box-shadow: 3px 0 3px rgba(136, 136, 136, 0.3);
	-o-box-shadow: 3px 0 3px rgba(136, 136, 136, 0.3);
	-khtml-box-shadow: 3px 0 3px rgba(136, 136, 136, 0.3);
	box-shadow: 3px 0 3px rgba(136, 136, 136, 0.3);
	margin-right: -34px;
	margin-top: 0px;
	padding: 12px;
	cursor: pointer;
}
#pav-paneltool .icon-cog {
	background-image: url("../img/glyphicons-halflings.png");
	background-position: -433px -1px;
	width: 12px;
	height: 13px;
}
#pav-paneltool .panel-inner {
	width: 368px;
	background: #FFF;
	padding: 12px 16px;
	-ms-box-shadow: 1px 0 3px rgba(136, 136, 136, 0.3);
	-o-box-shadow: 1px 0 3px rgba(136, 136, 136, 0.3);
	-khtml-box-shadow: 1px 0 3px rgba(136, 136, 136, 0.3);
	-moz-box-shadow: 1px 0 3px rgba(136, 136, 136, 0.3);
	-webkit-box-shadow: 1px 0 3px rgba(136, 136, 136, 0.3);
	box-shadow: 1px 0 3px rgba(136, 136, 136, 0.3);
}
.box-patterns div {
	display: block;
	width: 38px;
	height: 38px;
	float: left;
	cursor: pointer;
	cursor: pointer;
	border: solid 1px #f3f3f3;
	margin: 6px;
	border: 1px solid #ccc;
}
.box-patterns div.active {
	border: solid 1px red
}
