.pav-menu-video iframe { 
	width: 100%; 
	min-width: 100%; 
}
.dropdown-menu-inner h3{
	color: #2e3039;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: normal;
	line-height: normal;	
}

.dropdown-menu-inner p{
	font-style: italic;
	color: #7b7771;
	line-height: 15px;
}

.navbar .megamenu > li > .dropdown-menu{
	top: 62px;
}

.navbar .nav .dropdown-toggle .caret{
	position: absolute;
	left: -99999px;
	top: -99999px;
}

.megamenu > li.parent{
	position: static;
}

.megamenu > li.parent.single{
	position: relative;
}

.megamenu  .mega-cols{ 
	width: 100%;
	padding: 0;
}
.megamenu > .dropdown-menu-inner{
	padding: 23px 13px;
}

.dropdown-menu-inner .dropdown-mega{
	margin: 10px 0 0 0;
}

.dropdown-menu > li > a:hover, 
.dropdown-menu > li > a:focus, 
.dropdown-submenu:hover > a, 
.dropdown-submenu:focus > a{
	background-color: transparent;
	background-image: none;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fffcf7', EndColorStr='#fffcf7');	
}

.navbar .nav .mega-col > ul > li > a{ 
	color: #2e3039;
	font-size: 14px;
	text-transform: uppercase;
	font-style: normal;
	padding: 0;
	background: none transparent;
}

.navbar .nav .mega-col > ul > li > a:hover,
.navbar .nav .mega-col > ul > li:hover,
.navbar .nav .mega-col > ul > li > a:focus,
.navbar .nav .mega-col > ul > li > a:active
{
	background-color: transparent;
	background-image: none;
}

.navbar .dropdown-menu-inner > ul > li{    
    height: 31px;
    line-height: 31px;       
}
.navbar .dropdown-menu-inner > ul > li:hover{
	background-color: #40331D;
}
.navbar .dropdown-menu-inner > ul > li:hover a,
.navbar .dropdown-menu-inner > ul > li > a:hover
{
    color: #fff;     
}

.navbar .dropdown-menu-inner > ul > li a:hover{
	transform: translateX(10px);  
    -webkit-transform: translateX(10px);  
    -moz-transform: translateX(10px);  
    -ms-transform: translateX(10px);  
    -o-transform: translateX(10px);
    background: url("../image/menu-item-hover.png") no-repeat scroll 10px 50%; 
}

.dropdown-submenu .dropdown-toggle{
	margin: 0 0 0 10px;
}
.mega-col .dropdown-submenu .dropdown-toggle:hover{
	color: #6f9426;
}	

.navbar .megamenu > li.single > .dropdown-menu{
	top: 58px;
}
.menu-desc{
	background-color: #6f9426;
	color: #ffffff;
	padding: 3px 5px;
	margin: 0 0 0 5px;
	height: auto;
	line-height: normal;
	display: inline-block;    
    zoom: 1;
    *display: inline;
}
.menu-content{
	width: 100%;
}   
.pavo-widget h3 {
    line-height: 30px;
    margin-top: 0;
}
.pavo-widget .menu-title {
    font-size: 16px;
}
.widget-product-list .product-block {
    margin-bottom: 10px;
}
.widget-product-list .image {
    border: 1px solid #E7E7E7;
    float: left;
    margin-right: 10px;
    padding: 0;
}
.widget-product-list a {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    padding-left: 0 !important;
}
.widget-product-list a:hover {
    color: #30ADE7 !important;
}
.widget-product-list .product-block:hover .image a {
    opacity: 1;
}
.name a {
    border: medium none !important;
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
.widget-product-list .product-block .price {
    color: #F94B4B;
    font-size: 14px;
    margin: 5px 0;
}
.widget-product-list .product-block:hover .price {
    color: #F94B4B;
    display: block;
}
.widget-product-list .product-block .price-old {
    color: #555555;
}
.widget-product-list .product-block .button {
    height: 28px;
    line-height: 28px;
}
.widget-product-list .product-block .cart {
    display: none;
}
.widget-banner {
    border: 1px solid #E7E7E7;
}
.widget-banner .w-banner {
    float: left;
    margin: 6px 10px;
}
