.pav-product-tab{
	position: relative;
}
.box.producttabs .item { 
	border-bottom: 0; 
}
.producttabs .nav { 
	padding: 0; 
	margin: 0; 
	border: 0; 
	background: none transparent; 
	height: auto; 
	line-height: normal;
}
.tab-content .product-block{
	margin-bottom: 0;
}
.tab-nav{
	margin-bottom: 20px;
}

/* Effect CSS3 */
.tab-content > .tab-pane, .pill-content > .pill-pane{
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;

	-webkit-transition: opacity linear 0.1s;
    -moz-transition: opacity linear 0.1s;
    -o-transition: opacity linear 0.1s;
    -ms-transition: opacity linear 0.1s;
    transition: opacity linear 0.1s;
    
}
.tab-content > .active, .pill-content > .active{	
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;    

    -webkit-transition: opacity ease-out 0.2s 0.1s;
    -moz-transition: opacity ease-out 0.2s 0.1s;
    -o-transition: opacity ease-out 0.2s 0.1s;
    -ms-transition: opacity ease-out 0.2s 0.1s;
    transition: opacity ease-out 0.2s 0.1s;
}
.pav-product-tab .left { 
    left: inherit; 
    right: 37px; 
}
.pav-product-tab .right { 
    right: 0;     
}