/* Large desktop */
@media (min-width: 1200px) {
	#off-canvas-nav{
		display: none;
	}
	
		
	/* Custom Bootstrap */

	.row-fluid [class*="pav-span"] {
		display: block;
		float: left;
		margin: 0;            
	}

	.row-fluid .pav-span1 {
		width: 8.33333%;
	}

	.row-fluid .pav-span2 {
		width: 16.6667%;
	}

	.row-fluid .pav-span3{
		width: 25%;
	}
	.row-fluid .pav-span4 {
		width: 33.3333%;
	}
	.row-fluid .pav-span5 {
		width: 41.6667%;
	}
	.row-fluid .pav-span6 {
		width: 50%;
	}
	.row-fluid .pav-span7 {
		width: 58.3333%;
	}
	.row-fluid .pav-span8 {
		width: 66.6667%;
	}
	.row-fluid .pav-span9 {
		width: 75%;
	}
	.row-fluid .pav-span10 {
		width: 83.3333%;
	}
	.row-fluid .pav-span11 {
		width: 91.6667%;
	}
	.row-fluid .pav-span12 {
		width: 100%;
	}
}

/* Ipad landscape */
@media (min-width: 940px) and (max-width: 1170px) {
	#off-canvas-nav{
		display: none;
	}
}
@media(max-width:979px){
#mainnav .container {
	position: relative;
}
.wrapper-nav-title {
    padding: 5px 0;
}
.pav-header-top {
    background: none repeat scroll 0 0 #F1F2F4;
    border-bottom: none;
    padding:0;
}

	.navbar .btn-navbar{
		display: inline-block;
		padding:8px 7px;
	}
}
/* Ipad Portrait */
@media (min-width: 768px) and (max-width: 979px) {

	h1, .h1{
		font-size: 17px;
	}

	h2, .h2{
		font-size: 15px;
	}
	
	h3, .h3{
		font-size: 13px;
	}

	h4, .h4{
		font-size: 11px;
	}

	/* #Header 
	=========================================================*/
	.pav-header-top{
		padding: 8px 0;
	}

	/* SlideShow */
	.tp-caption.pav_big,
	.tp-caption.pav_small,
	.pav_desc,.pav_desc_white,.pav-button-layer
	{
		display: none;		
	}


	/* #Manufacture 
	=========================================================*/
	.jcarousel-skin-opencart .jcarousel-item a, .jcarousel-skin-opencart .jcarousel-item span{
		line-height: normal;
		font-size: 90%;
	}

	/* #Mass Bottom 
	=========================================================*/
	.m-height .box-content{
		min-height: 100%;
	}

	/* #Footer 
	=========================================================*/
	.footer-top-wrapper{
		margin:0;
	}
	.footer-top-inner:before{
		display: none;
	}
	.footer-top-inner:after{
		display: none;
	}
	footer h3{
		font-size: 100%;
	}
	footer p{
		font-size: 90%;
	}
	
	/* #Navigation 
	=========================================================*/
	.is-white{
		background-color: #FFFFFF;		
	}
	.navbar-inner{
		min-height: 0;
	}

	/* #Carousel 
	=========================================================*/


	.jcarousel .box-content{
		padding-left: 3%;padding-right: 3%;
	}

	/* #testimonial 
	=========================================================*/

	.testimonial{
		width: 45%;
	}

	.t-avatar{
		width: 36%;
	}

	/*Product
	=========================================================*/
	.product-grid .pavicon-compare-default, 
	.product-grid .pavicon-wishlist-default,
	.product-grid .product-inner:hover .pavicon-compare-default,
	.product-grid .product-inner:hover .pavicon-wishlist-default
	{
		display: none;
	}

	.row-fluid .pav-span4{
		width: 33.3333%;
		margin: 0;
	}

	.pro-content .description{
		display: none;
		visibility: hidden;
	}

	.product-block h3{
		margin: 0;
	}

	.product-list .product-block{
		width: 100%;
		padding: 0;
		margin-left: 0;
		margin-right: 0;
	}
	.product-list .product-block p{
		min-height: 20px;		
	}

	.product-info .cart{
		margin: 10px 0;
		float: left;
	}

}





/* Iphone 5 landscape  */
@media(max-width:767px) {
.zoomContainer {
 display:none;
 }
	span.h1{
		padding-left: 15%;
		width: auto;
	}
	.navbar-inner{
		display: none;
	}
	.language-wrapper,.currency-wrapper{
		margin-top: 10px;margin-bottom: 10px;
		float: none;
		display: inline-block;
	}
	#links{
		float: none;
		text-align: center;
	}
	.links li{
		float: none;
		display: inline;
	}
	#welcome{
		float: none;
		text-align: center;		
	}
	#logo{
		float: none;
		text-align: center;
	}
	.header-right{
		text-align: center;
		margin-top: 10px;
		margin-bottom: 20px;
	}
	#cart,#search{
		float: none;
		display: inline-block;
	}
	.testimonial:before,.testimonial:after{
		display: none;
	}
	.testimonial,.t-avatar{
		margin: 0 0 20px 0;
		width: 100%;
	}
	.pavtestimonial{
		padding: 5%;
	}
	.colorbox-t{
		display: block;
		margin-top: 10px;
	}
	.product-tab-content:before{
		display: none;
	}
	a.button, input.button, .btn, .btn-small{
		padding-top: 7px;padding-bottom: 7px;
	}
	
	.nav-tabs > li > a{
		font-size: 12px;
		padding:8px;
	}
	.tabs-category,.product-tab-content{
		width: 100%;		
	}
	.tabs-category{
		padding: 0 0 20px 0;
	}
	.h-tabs a span{
		float: none;
		margin: 0;
		padding:0 0 0 10px;
	}
	.h-tabs li a{
		float: none;
		width: 100%;
		padding: 10px 0;
		display: block;
	}
	.h-tabs a img{
		margin-right: 10px;
	}
	.jcarousel-skin-opencart .jcarousel-item span{
		display: none;
	}
	.jcarousel-skin-opencart .jcarousel-item{
		width: 40px !important;
	}
	.jcarousel .box-content{
		padding:20px 15px;	
	}
	.pav-about-us img{
		display: none;
	}
	.footer-top-inner:before,.footer-top-inner:after{
		display: none;
	}
	.footer-top-wrapper{
		margin: 0;
	}
	.footer-top-inner{
		position: static;
		margin: 0 0 20px 0;
		padding:10px;
		border: 1px solid #E5E2DD;
		height: auto;
		line-height: normal;
	}
	.foot-pack{
		margin-top: 0;
		padding: 20px 20px 30px;
	}
	#back-top a{
		left: 40%;
	}
	a.button-newsletter{
		height: auto;
		line-height: normal;
		margin: 0 0 10px 0;
		float: none;
		display: inline-block;
	}
	.input-box .input-subscribe{
		float: none;
		width: 220px;
		display: inline;
	}
	.social{
		margin-bottom: 20px;
		text-align: center;
	}
	.social li{
		float: none;
		display: inline-block;
	}
	.input-box{
		text-align: center;
	}
	.m-height .box-content{
		min-height: 100px;
	}

}


   
/* Iphone 4 + 5 Portrait */ 
@media only screen and (min-width: 240px) and (max-width: 320px) {
	.m-height .box-content{
		min-height: 100px;
	}
	.tab-nav{
		margin-bottom: 45px;
	}
	.pav-product-tab .carousel-control{
		top: 40px;
	}
	.tab-nav.tabs-category{
		margin-bottom: 10px;
	}
	.filter > div, .filter > ul{
		float: none;
		margin-bottom: 10px;
	}
	.product-list .image,.product-list .product-bottom{
		float: none;
		padding:0;
	}
	.pavicon-compare-default, .pavicon-wishlist-default{
		height: 30px;
	}
	#image-additional a{
		margin-right: 2px;
	}
}